<!DOCTYPE html>
<html>
    <head>
        <title>{{ location }} {{  year  }}/{{  month  }}/{{  day  }} {{  hour  }}:00 - Weather Histroy</title>
    </head>
    <body>
        <h1>{{ location }}</h1>
        <h2>Weather Histroy</h2>
        <h4>Time: {{  year  }}/{{  month  }}/{{  day  }} {{  hour  }}:00</h4>
        <h4>Temp: {{  temp_in_F  }} <span>&#176;</span>F ( {{  temp_in_C  }} <span>&#176;</span>C / {{  temp_in_K  }} <span>&#176;</span>K)</h4>
        <h4>Feel like: {{  feels_like_in_F  }} <span>&#176;</span>F ( {{  feels_like_in_C  }} <span>&#176;</span>C / {{  feels_like_in_K  }} <span>&#176;</span>K)</h4>
        <h4>Pressure: {{  pressure  }}</h4>
        <h4>Dew point: {{  dew_point  }}</h4>
        <h4>Humidity: {{  humidity  }}</h4>
        <h4>Wind speed: {{  wind_speed  }}</h4>
        <h4>In Simple: {{  description_main  }}</h4>
        <h4>Description: {{  description_detail  }}</h4>
        <a href="/">Back to main</a>
    </body>