<!DOCTYPE html>
<html>
    <head>
        <title>Search - Weather Histroy</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            function sendquery() {
                document.getElementById('result').innerHTML = '<h4>No Data</h4>'
                $.ajax({
                    url: '/search_post',
                    type: 'POST',
                    data: {
                        'query_location' : document.getElementById('query_location').options[document.getElementById('query_location').selectedIndex].value,
                        'query_time_from' : document.getElementById('query_time_from').value,
                        'query_time_to' : document.getElementById('query_time_to').value,
                        'query_temp_from' : document.getElementById('query_temp_from').value,
                        'query_temp_to' : document.getElementById('query_temp_to').value,
                        'query_feellike_from' : document.getElementById('query_feellike_from').value,
                        'query_feellike_to' : document.getElementById('query_feellike_to').value,
                        'query_pressure_from' : document.getElementById('query_pressure_from').value,
                        'query_pressure_to' : document.getElementById('query_pressure_to').value,
                        'query_dew_point_from' : document.getElementById('query_dew_point_from').value,
                        'query_dew_point_to' : document.getElementById('query_dew_point_to').value,
                        'query_humidity_from' : document.getElementById('query_humidity_from').value,
                        'query_humidity_to' : document.getElementById('query_humidity_to').value,
                        'query_wind_speed_from' : document.getElementById('query_wind_speed_from').value,
                        'query_wind_speed_to' : document.getElementById('query_wind_speed_to').value,
                        'query_description_detail' : document.getElementById('query_description_detail').options[document.getElementById('query_description_detail').selectedIndex].value,
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                    },
                    success: function(msg) {
                        document.getElementById('result').innerHTML = msg
                    }
                })
            }
        </script>
    </head>
    <body>
        <h1>Search</h1>
        <h2>Please fill out your bounds, or left blank if you don't need it.</h2>
        <h4>Location: <select id="query_location">
            {% for location in location_list %}
                <option value="{{ location.value }}">{{ location.name }}</option>
            {% endfor %}
        </select></h4>
        <h4>Local Time: <input type="datetime-local"  id="query_time_from"> ~ <input type="datetime-local"  id="query_time_to"></h4>

        <h4>Temp in <span>&#176;</span>K: <input type="number"  id="query_temp_from"> ~ <input type="number"  id="query_temp_to"></h4>
        <h4>Feel like temp in <span>&#176;</span>K: <input type="number"  id="query_feellike_from"> ~ <input type="number"  id="query_feellike_to"></h4>
        <h4>Pressure: <input type="number"  id="query_pressure_from"> ~ <input type="number"  id="query_pressure_to"></h4>
        <h4>Dew point: <input type="number"  id="query_dew_point_from"> ~ <input type="number"  id="query_dew_point_to"></h4>
        <h4>Humidity: <input type="number"  id="query_humidity_from"> ~ <input type="number"  id="query_humidity_to"></h4>
        <h4>Wind speed: <input type="number"  id="query_wind_speed_from"> ~ <input type="number"  id="query_wind_speed_to"></h4>
        
        <h4>Description: <select id="query_description_detail">
            {% for description_main in description_main_list %}
                <optgroup label="{{  description_main.name  }}">
                    {% for description_detail in description_main.list %}
                        <option value="{{ description_detail.id }}">{{ description_detail.description }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select></h4>
    
        <h4><input type="submit" value="Submit" onclick="sendquery()"></h4>
        <div id="result"></div>
        <a href="/">Back to main</a>
    </body>